:root {
    --texto-generico-color:    #242424;
    --nome-destaque-color:     #292929;
    --card-preco-color:        #2E245E;
    --carrinho-destaque-color: #333333;
    --cinza-claro-color:       #F5F5F5;
    --branco-color:            #FFFFFF;
    --branco-bg:               #FFFFFF;
    --azul-claro-bg:           #37268C;
    --azul-escuro-bg:          #2E245E;
    --cinza-claro-bg:          #F5F5F5;
    --cinza-escuro-bg:         #292929;
    --roxo-claro-hover:        #7B61FF;
}

.dark-mode:root {
    --texto-generico-color:    #FFFFFF;
    --nome-destaque-color:     #FFFFFF;
    --card-preco-color:        #7B61FF;
    --carrinho-destaque-color: #FFFFFF;
    --cinza-claro-color:       #F5F5F5;
    --branco-color:            #FFFFFF;
    --branco-bg:               #292929;
    --azul-claro-bg:           #2E245E;
    --azul-escuro-bg:          #2E245E;
    --cinza-claro-bg:          #333333;
    --cinza-escuro-bg:         #242424;
}
/* Reset Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    font-family: 'Inter', sans-serif;
    transition: 0.3s;
}

/* Classe geral */
body {
    background-color: var(--branco-bg);
    
}

.container {
    width: 1200px;
}

/* Cabeçalho */
header {
    height: 70px;
    background-color: var(--branco-bg);
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

header .container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .container div h1 {
    color: var(--nome-destaque-color);
    font-weight: 700;
    font-size: 30px;
}

header .container nav {
    display: flex;
    gap: 8px;
}

header .container nav button {
    background-color: var(--branco-bg);
    font-weight: 400;
    font-size: 16px;
    color: var(--texto-generico-color);
    cursor: pointer;
    padding: 7px 11px;
    transition: 0.3s;
}

header .container nav .btn-atual {
    font-weight: 600;
    color: var(--nome-destaque-color);
}

header .container nav button:hover {
    background-color: var(--azul-claro-bg);
    color: var(--branco-color);
    transition: 0.3s;
}

header .container nav img {
    height: 36px;
    cursor: pointer;
}


/* Página principal */
main {
    margin: 120px auto 30px auto;
    display: flex;
    justify-content: space-between;
}

main .vitrine {
    width: 68%;
}

main .vitrine ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

main .vitrine ul p:first-child {
    font-weight: 700;
    font-size: 22px;
    color: var(--nome-destaque-color);
    padding: 154px 120px;
    background-color: var(--cinza-claro-bg);
}

main .vitrine ul li {
    width: 32%;
    margin-bottom: 20px;
    border: 2px solid var(--cinza-claro-bg);
    transition: 0.2s;
}

main .vitrine ul li:hover {
    border-color: var(--roxo-claro-hover);
    transition: 0.2s;
}


main .vitrine ul li figure {
    background: var(--cinza-claro-bg);
    display: flex;
    justify-content: center;
    border: 4px solid var(--cinza-claro-bg);
}

main .vitrine ul li figure img {
    height: 100%;
}

main .vitrine ul li article {
    padding: 15px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main .vitrine ul li article p:nth-child(1) {
    display: inline-block;
    background-color: var(--azul-escuro-bg);
    padding: 5px 12px;
    color: var(--branco-color);
    font-weight: 400;
    font-size: 12px;
}

main .vitrine ul li article p:nth-child(2) {
    font-weight: 700;
    font-size: 18px;
    color: var(--nome-destaque-color);
}

main .vitrine ul li article span {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--texto-generico-color);
}

main .vitrine ul li article .preco {
    font-weight: 600;
    font-size: 14px;
    color: var(--card-preco-color);
}

main .vitrine ul li article button {
    background-color: transparent;
    color: var(--texto-generico-color);
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: underline;
    text-decoration-color: transparent;
}

main .vitrine ul li article button:hover {
    color: var(--card-preco-color);
    text-decoration-color: var(--card-preco-color);
    transition: 0.5s;
}

/* Barra de pesquisa */
main aside {
    width: 28%;
}

main aside .section-pesquisa {
    display: flex;
    gap: 5px;
    margin-bottom: 25px;
    width: 100%;
    
}

main aside .section-pesquisa input {
    height: 50px;
    background: var(--cinza-claro-bg);
    border: 1px solid var(--cinza-claro-bg);
    padding-left: 13px;
    width: 70%;
    font-weight: 400;
    font-size: 14px;
    color: var(--texto-generico-color);
    outline: none;
}

main aside .section-pesquisa button {
    background-color: var(--azul-claro-bg);
    color: var(--branco-color);
    font-weight: 500;
    font-size: 16px;
    padding: 0 20px;
    cursor: pointer;
    transition: 0.3s;
}

main aside .section-pesquisa button:hover {
    background-color: var(--card-preco-color);
    transition: 0.3s;
}

/* Carrinho de compras */
main aside .section-carrinho {
    width: 100%;
}

main aside .section-carrinho p {
    background-color: var(--azul-claro-bg);
    font-weight: 700;
    font-size: 18px;
    color: var(--branco-color);
    width: 100%;
    text-align: center;
    padding: 13px 0;
}

main aside .section-carrinho div {
    background-color: var(--cinza-claro-bg);
}

main aside .section-carrinho div ul {
    display: flex;
    flex-direction: column;
    padding: 25px 20px 0 15px;
    gap: 20px;
    max-height: 300px;
    overflow-y: auto;
}

main aside .section-carrinho div ul li {
    display: flex;
    height: 90px;
}

main aside .section-carrinho div ul li figure {
    display: flex;
    align-items: center;
    background-color: var(--branco-bg);
}

main aside .section-carrinho div ul li figure img {
    height: 80%;
}

main aside .section-carrinho div ul li div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15px;
}

main aside .section-carrinho div ul li div p {
    font-weight: 700;
    font-size: 16px;
    color: var(--carrinho-destaque-color);
    background-color: var(--cinza-claro-bg);
    padding: 0;
    text-align: start;
}

main aside .section-carrinho div ul li div p:nth-child(2) {
    color: var(--card-preco-color);
    font-weight: 600;
    font-size: 14px;
}

main aside .section-carrinho div ul li div button {
    font-weight: 400;
    font-size: 14px;
    color: var(--texto-generico-color);
    background-color: transparent;
    text-align: start;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 0.5s;
}

main aside .section-carrinho div ul li div button:hover {
    text-decoration-color: var(--card-preco-color);
    color: var(--card-preco-color);
    transition: 0.5s;
}

main aside .section-carrinho div span {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: var(--nome-destaque-color);
    display: block;
    text-align: center;
    padding-top: 80px;
}

main aside .section-carrinho div span:nth-child(2) {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--texto-generico-color);
    padding: 10px 0 80px 0;
}

main aside .section-carrinho div table {
    background-color: var(--cinza-escuro-bg);
    width: 100%;
    padding: 15px;

}

main aside .section-carrinho div table tr {
    line-height: 35px;
}

main aside .section-carrinho div table th {
    color: var(--branco-color);
    font-weight: 600;
    text-align: start;
}

main aside .section-carrinho div table td {
    color: var(--cinza-claro-color);
    text-align: end;
}
